@mixin small-devices {
  @media (max-width: 321px) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (min-device-width: 321px) and (max-device-width: 768px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}
