@font-face {
  font-family: "poppinsRegular";
  src: local("poppinsRegular"), url(../../public/fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
}

.primary-font {
  font-family: "poppinsRegular" !important;
  color: orange;
  font-size: large !important;
}

// h4 {
//   font-family: "poppinsRegular" !important;
// }
