.w-90 {
  width: 90% !important;
}

.w-10 {
  width: 10% !important;
}

.doctor-dashboard-grid-wrapper {
  display: grid;
  @include tablet {
    grid-template-columns: 75px 1fr;
  }
  @include small-devices {
    grid-template-columns: 75px 1fr;
  }
  @include mobile {
    grid-template-columns: 75px 1fr;
  }
  grid-template-columns: 250px 1fr;

  grid-template-rows: auto 1fr;
  grid-template-areas:
    "dashboard-header dashboard-header"
    "dashboard-left-sidebar dashboard-main";
  height: 100vh;
  overflow: hidden;
}

.admin-dashboard-grid-wrapper {
  display: grid;
  @include tablet {
    grid-template-columns: 75px 1fr;
  }
  @include small-devices {
    grid-template-columns: 75px 1fr;
  }
  @include mobile {
    grid-template-columns: 75px 1fr;
  }
  grid-template-columns: 250px 1fr;

  grid-template-rows: auto 1fr;
  grid-template-areas:
    "dashboard-header dashboard-header"
    "admin-left-sidebar dashboard-main";
  height: 100vh;
  overflow: hidden;
  background-color: #eeeeee;
}
.doctor-dashboard-grid-header {
  grid-area: dashboard-header;
  box-sizing: border-box;
}

.doctor-dashboard-left-sidebar {
  grid-area: dashboard-left-sidebar;
  box-sizing: border-box;
  background: #eeeeee;
}

.doctor-dashboard-left-sidebar {
  grid-area: dashboard-left-sidebar;
  box-sizing: border-box;
  background: white;
}
.doctor-dashboard-grid-main {
  grid-area: dashboard-main;
  box-sizing: border-box;
  background: #f5f5fa;
  overflow-y: scroll;
  padding: 20px 0;
}

.admin-dashboard-grid-main {
  grid-area: dashboard-main;
  box-sizing: border-box;
  background: #f5f5fa;
  overflow-y: scroll;
  padding: 0px;
}

.list-group {
  margin-top: 20px;
}

.list-group .list-group-item {
  border: 0px;
  padding: 10px 20px;
  /* border: 1px solid #eee; */
}

.list-group-item.active {
  background-color: rgb(229, 241, 255) !important;
  color: black;
  /* border: 1px solid #eee; */
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1025px,
  xl: 1200px,
  xxl: 1400px,
);
