// First override some or all individual color variables
$primary: #0073ff;
$secondary: #f5f5fa;
$success: #3e8d63;
$info: #13101c;
$warning: #945707;
$success: #82c43c;
$info: #a461d8;
$warning: #ff974a;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;
$grey: #f5f5fa;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "light-primary": rgba(0, 115, 255, 0.1),
  "base-black": #1e2233,
  "base-light-black": #44444f,
  "dark-red": #c14f4f,
  "light-purple": #8181a5,
  "light-white": #ececf2,
  "light-purple-two": #f5f5fa,
  "light-grey": #808191,
  "orange": #ff974a,
  "light-warning": rgba(255, 151, 74, 0.1),
  "light-success": rgba(130, 196, 60, 0.1),
  "light-info": rgba(164, 97, 216, 0.1),
  "light-grey-two": #ededf2,
  "dark-grey": #44444f,
  "green": #2a8854,
  "red": #fc5a5a,
  "grey-two": #eeeeee,
  "light-grey-three": rgba(245, 245, 250, 0.4),
);
