.w-15 {
  width: 15% !important;
}

.w-40 {
  width: 45% !important;
}

.br-10 {
  border-radius: 10px !important;
}
.w-85 {
  width: 85% !important;
}
.top-30 {
  top: 30% !important;
}

.h-85 {
  height: 85% !important;
}

.cr-p {
  cursor: pointer;
}
.z-index {
  z-index: 1;
}

.linear-background {
  background: linear-gradient(90deg, #fff 25%, #dcf0ff 75%) !important;
}

.img-fit {
  object-fit: cover !important;
}
