body {
  font-family: "poppinsRegular" !important;
}

.form-group {
  font-size: 14px;
}

#dropdown-basic::after {
  display: none;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #808191;
  opacity: 1; /* Firefox */
  font-size: small;
}
