body {
  font-family: "poppinsRegular" !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppinsRegular" !important;
}

.form-group {
  font-size: 14px;
}

#dropdown-basic::after {
  display: none;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #808191;
  opacity: 1; /* Firefox */
  font-size: small;
}
