.card-style {
  height: 110px;
}

.card-style p,
h2 {
  font-family: "poppinsRegular";
}

.task-title {
  width: 220px;
}

.btn-reply {
  background: #0073ff21 !important;
  color: #0073ff !important;
}

.icon-height {
  height: 16px !important;
}
